@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to bottom, #070707, #201424, #41214D) fixed !important;
  @apply text-foreground;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 282 100 64%;
    --primary-foreground: 282 100 98%;
    --secondary: 245 58 56%;
    --secondary-foreground: 0 0% 98%;
    --button-secondary: 0, 2%, 10%;
    --button-secondary-foreground: 0 0% 100%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 282 100 64%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 282 100 64%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 282 100 64%;
    --primary-foreground: 282 100 98%;
    --secondary: 245 58 56%;
    --secondary-foreground: 0 0% 98%;
    --button-secondary: 0, 2%, 10%;
    --button-secondary-foreground: 0 0% 100%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 282 100 64%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 282 100 64%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    background: linear-gradient(to bottom, #070707, #201424, #41214D) !important;
    @apply text-foreground;
  }
  .gradient-border-wrapper {
    position: relative;
    display: inline-block;
    padding: 4px;
    border-radius: 9999px;
    background-image: linear-gradient(hsl(var(--background)), rgba(0, 0, 0, 0.5)), linear-gradient(to bottom right, hsl(282 100 64%), hsl(245 58 56%));
  }
  .gradient-border-wrapper::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: inherit;
    padding: 1px;
    background: linear-gradient(to bottom right, hsl(var(--primary)), hsl(var(--secondary)));
    -webkit-mask: linear-gradient(white, white) content-box, linear-gradient(white, white);
    mask: linear-gradient(white, white) content-box, linear-gradient(white, white);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }
  button.gradient-border-wrapper {
    background: transparent !important;
    color: white;
  }
}

@layer components {
  .button-secondary {
    background-color: hsl(var(--button-secondary)) !important;
    color: hsl(var(--button-secondary-foreground)) !important;
    @apply hover:scale-110 focus:ring-2 focus:ring-[hsl(var(--button-secondary))]/50 transition-all duration-200 transform-gpu;
  }
}
